@{
    ViewBag.Title = "Secret Santa";
}

<div class="container">
    @*<img src="~/Images/santa-claus.jpg" />*@
    <img src="~/Images/santa2.png" class="santa"/>
</div>

<div id="button-container">
    <h1 id="message">
        Welcome to 1st Annual Secret Santa! <br/> <br/>

        You received a gift, now it's your turn to give! <br/> <br/>

        Click the button to generate the name of a GMR employee who YOU will give a gift to. But SHHHH! It's a secret! <br/> <br/>

        Remember, reuse the same box that you received and fill it with whatever fun secret santa gift(s) you would like. <br/> <br/>

        Thanks!<br/> <br/>

        -The Secret Santa Committee<br/>

    </h1>

    <h2 id="name"></h2>

    <a href="#" id="sit" target="_blank">Where do I sit?</a><br/> <br/>

    <button id="generate" class="btn btn-info">Get The Next Lucky Person</button>
    <button id="accept" class="btn btn-primary">I happily accept :)</button>
    
    <h1 id="thank">Thank You for participating</h1>

</div>

<script>
    ($(function () {

        var person = {};
        $('#generate')
            .click(function() {
                $.get('/home/next')
                    .done(function (data) {
                        person = data;
                        $('#name').text(data.FullName + ' - ' + data.Department);
                        $('#sit').attr('href', 'http://factbook/TheTap/Profile.aspx?ID=' + data.EmployeeId).show();
                        $('#generate').hide();
                        $('#accept').show();
                    });
            });


        $('#accept')
            .click(function() {
                $.post('/home/Received', { employeeId: person.EmployeeId })
                    .done(function(data) {
                        if (data.Error) {

                        }
                        else {
                            $('#thank').show();
                            $('#accept').hide();
                        }
                        
                    });
            });
    }))
</script>